<!doctype html>
<html>
<head>
    <title> {% block title %}Gmail Connections{% endblock %} </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.4/ladda.min.css">

    <link rel="stylesheet" href="{{ url_for("static", filename = "css/lib/skeleton.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename = "css/style.css") }}">

    <script src="{{ url_for("static", filename = "js/script.js") }}"></script>
</head>
<body>
    <header>
        <h1> Gmail Connections </h1>
    </header>

    <div class="container">
        <article class="row">
            {% if not current_user.is_authenticated() %}
                <div class="twelve columns text-center">
                    <h5> We need your GMail credentials: </h5>
                    <p>
                        <a href="{{ url_for("login") }}" class="ladda-button" data-color="mint" data-size="xs"> Log In </a>
                    </p>
                </div>
            {% else %}
                <div class="three columns">
                    <menu>
                        {% for url_name, link_title in menu %}
                            <li><a href="{{ url_for(url_name) }}" class="ladda-button" data-color="mint" data-size="xs"> {{ link_title }} </a></li>
                        {% endfor %}
                    </menu>
                </div>

                <div class="nine columns">
                    <article class="row">
                        <div class="twelve columns">
                            <p> You are authenticated as <strong>{{ current_user.email }}</strong>. </p>

                            {% with messages = get_flashed_messages(with_categories = True) %}
                                {% if messages %}
                                    <ul class="flashes">
                                        {% for category, message in messages %}
                                            <li class="{{ category }}">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}

                            {% block content %}{% endblock %}
                        </div>
                    </article>
                </div>
            {% endif %}
        </article>
    </div>

    {% if not config['DEBUG'] %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-334604-21', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
</body>
</html>
