{% extends "base.html" %}


{% macro render_field(field) %}
    <label> {{ field.label }} </label>

    {% if field.errors %}
        <div class="errors">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% if field.flags.required %}
        {{ field(required = "required", **kwargs)|safe }}
    {% else %}
        {{ field(**kwargs)|safe }}
    {% endif %}
{% endmacro %}


{% block content %}
    <div class="row">
        <form action="{{ url_for("bookmarks") }}" method="POST" class="six columns" autocomplete="off">
            {{ form.csrf_token }}

            {{ form.bookmark.required }}
            {{ render_field(form.bookmark, placeholder = "friend@gmail.com", class = "u-full-width") }}

            {{ form.submit }}
        </form>
    </div>
{% endblock %}

