{% extends "base.html" %}


{% macro render_field(field) %}
    {% if field.choices %}
        <label> {{ field.label.text }} </label>
    {% else %}
        {{ field.label }}
    {% endif %}

    {% if field.errors %}
        <div class="errors">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% if field.choices %}
        <div class="input">
            {% for option in field %}
                <label> {{ option }} {{ option.label.text }} </label>
            {% endfor %}
        </div>
    {% else %}
        {% if field.flags.required %}
            {{ field(required = "required", **kwargs)|safe }}
        {% else %}
            {{ field(**kwargs)|safe }}
        {% endif %}
    {% endif %}
{% endmacro %}


{% block content %}
    <div class="row">
        <form action="{{ url_for("bookmarks") }}" method="POST" class="six columns" autocomplete="off">
            {{ form_add.csrf_token }}

            {{ render_field(form_add.bookmark, placeholder = "friend@gmail.com", class = "u-full-width") }}

            {{ form_add.submit }}
        </form>

        <form action="{{ url_for("bookmarks") }}" method="POST" class="six columns" autocomplete="off">
            {{ form_remove.csrf_token }}

            {{ render_field(form_remove.bookmarks) }}

            {{ form_remove.submit }}
        </form>
    </div>
{% endblock %}

